body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: white;
}

/* MAIN CONTAINER */
.homecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color:white;
}

/* TITLE */
.hometitle {
  font-size: 26px;
  margin: 30px 0 20px;
  font-weight: 700;
}

/* TOP MENU */
.hometop-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 12vh;
  gap: 2vw;
}

/* MENU BUTTON WRAPPER */
.homemenu-btn-wrapper {
  position: relative;
}

/* MAIN MENU BUTTON */
.homemenu-btn, myinvitation-btn {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 6vw;
  height: 5vh;
  font-weight: 600;
   background-color: #1868db;
  cursor: pointer;
  border-radius: 8vw;
  border: 1px solid black;
  color: white;
font-size: calc(1.5vw + 0.01vh);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.homemenu-btn:hover {
  background: #ccc;
}

/* SUBMENU */
.homesubmenu {
  position: absolute;
  top: 100%;
 left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  min-width: 5vw;
  display: none;
  flex-direction: column;
  gap: 1vh;
  z-index: 20;
}

.homemenu-btn-wrapper:hover .homesubmenu {
  display: flex;
}

.addresume-btn,
.updateresume-btn,
.reputationcatalog-btn,
.assignreputation-btn,
.addreferrer-btn {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
min-width: 5vw;
height: 4.5vh;
padding-left: 1vw;
padding-right: 1vw;
border-radius: 4vw;
   background-color: #1868db;
  cursor: pointer;
  border: 1px solid black;
  color: white;
font-size: calc(1.5vw + 0.01vh);
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

/* FREELANCER LIST */
.homelist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96vw;
  gap: 20px;
  margin-top: 20px;
}

/* CARD */
.homecard {
  display: flex;
  align-items: center;
  width: 96vw;
  background: white;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.12);
  gap: 20px;
}

.homephoto {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.homeinfo {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

/* ACTION BUTTONS */
.homeactions {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.homebtn_resume,
.homebtn_rep,
.homebtn_ref {
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  background: #efefef;
  cursor: pointer;
  font-weight: 600;
}

.homebtn_resume:hover,
.homebtn_rep:hover,
.homebtn_ref:hover {
  background: #ddd;
}
