.referee-editor-container {
display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-self: center;
 width:85vw;
 min-height: 8vh;
}

.referee-tag {
display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-self: center;
 min-width:8vw;
 height: 4vh;
 border: 1px solid black;
  border-radius: 6vw;
  cursor: pointer;
  user-select: none;
font-size: calc(1.5vw + 0.01vh);
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.referee-tag:hover {
  background: #d0e2f0;
}

.referee-input {
display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-self: center;
 min-width:8vw;
 height: 4vh;
  border: none;
  outline: none;
font-size: calc(1.5vw + 0.01vh);
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
